$red:#ee262685;
$white:#fff;
$black:#000;
$light-black:#0006;
$gray:gray;
$gray-50:#80808040;
$blue:#00c4ff;
$purple:purple;
$green:green;
$green-50:#19dd195c;
$orange:#ffc107;
$orange-50:#ffc10773;
$blue-50:rgb(0 196 255 / 19%);
$blue-25:#c5d0e140;
$boarder-line:#d9d9d9;